#main-container {
  margin: 0px;
  padding: 0px;
}
#footer {
  margin-top: 0px;
  /*margin-left: 0px;*/
}
.enemy {
  height: 150px;
  width: 30%;
  display: block;
  display: inline-block;
      vertical-align: middle;
  /*z-index: 10;*/
  border: none;
}
#enemyHealthBar {
  background-color: red;
}
#imgHolder {
  display: inline-block;
      vertical-align: middle;
      border: none;
}
#dialogueBox {
  height: 30%;
  width: 100%;
  border: 5px solid black;
   position:fixed;
   bottom:0;
   background: url("../images/backgrounds/hrt-stone-texture-7.jpg");
   display: none;
}
#characterSelect {
  background: url("../images/backgrounds/hrt-stone-texture-7.jpg");
  color: white;
  font-size: 25px;
}
#race {
  color: black;
}
#dialContent{
  position:relative;
height: 100;
width: 80%;
font-size: 32px;
color: white;
text-align: center;
/*border: 5px solid brown;*/
}
#Dbar {
  height: auto;
  border: 1px solid white;
}
#DpersonName {
  color: white;
}
.dialogueImg {
  height: 100px;
  width: 100px;
  border: 1px solid white;
}
.screen {
  height: 100%;
  width: 100%;
}
#character {
  display: none;
}
#navStats {
  /*margin-left: 0px;*/
  /*padding-left: 0px;*/
  color: white;;
}
#battle {
  display: none;
}
.invBlock {
  height: 95px;
  border: 1px solid black;
  width: 90%;
}
#container {
  /*border: 1px solid black;*/
  height: 98%;

  width: 100%;
}
#fightScene {
  /*border: 1px solid green;*/
  height: 100%;
  display: inline-block;
  width: 50%;
  background: url("../images/backgrounds/2DRP_CCArt_Background_Forest_closeup.png");

}
.stat {
  font-size: 15px;
  color: grey;
}
#controller {
  /*border: 1px solid red;*/
  height: 100%;
  display: inline-block;
  width: 25%;
  background-color: black;
}
#logs li{
  border-bottom: 1px solid black;
  color: white;
}
#log {
  /*border: 1px solid blue;*/
  height: 100%;
  width: 25%;
  display: inline-block;
  background-color: black;
}

#equiptment {
  height: 100%;
  border: 5px solid black;
  border-radius: 10px;

}
#charStats {
  height: 100%;

}
#inventory {
  display: none;
}

#crafting {
  display: none;
}
